*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  text-decoration: none;
}
  html{
   scroll-behavior: smooth;
  }
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 999;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: black;
 text-transform: uppercase;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  padding: 0 15px;

}
.navbar-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  align-items: left;
  visibility: hidden;
  position: fixed;

}
.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .navbar-menu a:hover{
  color: #ff7518;
  transition: 0.5s;
 }
#home{
  height: 600px;
  width:100%;
  background-image: url(file:///C:/Users/User/Downloads/g.jpg);  
  background-size: cover;
  background-position: center;
   }
.name {
  position: absolute;
  top: 40%;
  left: 40%;
   font-size: 40px;
  color: #9f2b68;
   }
   .name h1{
    font-family:'Times New Roman', Times, serif;
     text-transform: capitalize;
     font-weight: bold;
  }
   .name span{
    color: #de3163;
   }


.newletter button{
  border-radius: 30px;
  background-color: #ff7518;
  width: 400px;
  height: 40px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  color: white;

 }
    #about{
    
        height: 800px;
          width:100%;
         background-image: url(file:///C:/Users/User/Downloads/g.jpg);  
         background-size: cover;
         background-position: center;
    }

       #about h2{
        font-size: 40px;
        text-align: center;
       }
        #about p{
          width: 400px;
          font-size: 28px;
          margin: 0 auto;
          text-align: left;
        }
        #services{
          height: 100vh;
          width:100%;
          background-image: url(file:///C:/Users/User/Downloads/g.jpg);  
          background-size: cover;
          background-position: center;
           } 
            #services h1{
              font-size: 60px;
              text-align: center;
            }
             #services h2{
             font-size: 39px;
             text-align: center;
             }
              #services h3{
                width: 800px;
                font-size: 19px;
                margin: 0 auto;
                text-align: left;
                overflow: hidden;
              }
               #contact{
                 overflow: hidden;
                height: 100vh;
                width:100%;
                background-image: url(file:///C:/Users/User/Downloads/g.jpg);  
                background-size: cover;
                background-position: center;
               }
               #contact h1{
                font-size: 50px;
                text-align: center;
               }
                #contact h2{
                  width: 900px;
                  font-size: 30px;
                  margin: 0 auto;

                }
                #contact img{
                  margin:0 200px;
                   justify-content: center;
                    width: 40px;
                    height: 40px;
                 }

@media (max-width: 450px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: 0;
      height: 100vh;
      width: 140px;
      background-color: blue;
      padding: 10px;
       
  }
   .navbar{
    z-index: 999;
   }
  .navbar-toggle{
   visibility: visible;
   
  }
   

  .navbar-menu.show {
      display: flex;
  }

  .navbar-menu li {
      padding: 10px;
  }
      .name{
       top: 15%;
       left: 5%;
      }
      
       .navbar-brand{
        font-size: 30px;
        margin: 0  130px;
       }
      .name .newletter button{
        width: 200px;
      }
   #about{
    top: 10%;
   }
     #about p{
      width: 300px;
     }
      #services{
        height: 1300px;
      }
      #services h3{
        width: 300px;
      }
       #contact h2{
        width: 300px;
       }
       #contact{
        height: 900px;
       }
       #contact img{
        margin: 0 auto;
        justify-content: space-between;


      
       }
      

}


@media (min-width: 481px) and (max-width: 768px) {
  .navbar-menu {
      justify-content: flex-end;
  }

  .navbar-menu li {
      padding: 10px;
  }
}


@media (min-width: 769px) {
  .navbar-menu {
      justify-content: flex-end;
  }

  .navbar-menu li {
      padding: 0 15px;
  }
}
 @media only screen and (orientation: landscape) {
  
  #services h3{
    width: 600px;
  }
   #contact{
    height: 800px;
    position: relative;
   }
   #contact h2 {
    width: 600px;
    padding:  50px;
    
   }
    .name{
      height: 400px;
    }
 }
