*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  text-decoration: none;
 
}
  html{
   scroll-behavior: smooth;
    background-color: #001f3f;
  }
body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 999;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: white;
 text-transform: uppercase;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  padding: 0 15px;

}
.navbar-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  align-items: left;
  visibility: hidden;
  position: fixed;

}
.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .navbar-menu a:hover{
  color: #8CABFF;
  transition: 0.5s;
 }
#home{
    background-color: #001f3f;
    height: 100vh;
    width:100%;

  
   }
    .img img{
       margin: 150px 50px;
      width: 40%;
      height: 500px;
      cursor: pointer;
      border-radius: 10px;
    }
.name {
  position: absolute;
  top: 50%;
   left: 60%;
   font-size: 40px;
  color: white;
   }
   .name h1{
    font-family:'Times New Roman', Times, serif;
     text-transform: capitalize;
     font-weight: bold;
   }


.newletter button{
  border-radius: 30px;
  background-color: teal;
  width: 400px;
  height: 40px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  color: white;

 }
    #about{
       background-color: #001f3f;
        height: 100vh;
          width:100%;
          margin: -60px 0px;
        
     }
     #about img{
      width: 400px;
      height: 400px;
      float: right;
      margin-right: 25%;
      margin-top: 9%;
     }

       #about h2{
        font-size: 60px;
        margin: 40px 150px;
        color: white;

       }
        #about p{
          width: 400px;
          font-size: 28px;
          text-align: left;
          margin: 0 10%;
          cursor: pointer;
          color: white;
        }

     #services{
      background-color: #001f3f;
      height: 100vh;
      width:100%;
     }
       #services h1{
        color: white;
        text-align: center;
        font-size: 50px;
       }

        #services h2{
          color: white;
          font-size: 30px;
        }
         #services .wrapper{
          display: flex;
         position: relative;
          margin: 0 230px;
         
         }
           #services .box{
             text-align: center;
              background-color: teal;
              width: 250px;
              height: 190px;
               border-radius: 10px;
                margin: 0 50px;
           }
           #services .box-2{
            background-color: teal;
            width: 250px;
            text-align: center;

            height: 190px;
             border-radius: 10px;
            margin: 0 50px;
         }
         #services .box-3{
          text-align: center;

          background-color: teal;
          width: 250px;
          height: 190px;
           border-radius: 10px;
           margin: 0 50px;
       }
      
         #skills{
          background-color: #001f3f;
      height: 100vh;
      width:100%;
         }
      #skills h1{
        text-align: center;
        font-size: 60px;
        color: white;
      }
      #skills .wrapper-2{
        display: flex;
       position: relative;
        margin: 0 230px;
        
       
       }
        #skills h2{
          color: white;
          text-align: center;
        }
        #skills li{
          font-size: 28px;
        }
         #skills .skill-1{
           text-align: center;
            background-color: teal;
            width: 250px;
            height: 190px;
          
             border-radius: 10px;
              margin: 0 50px;
         }
         #skills .skill-2{
          background-color: teal;
          width: 250px;
          text-align: center;

          height: 190px;
           border-radius: 10px;
          margin: 0 50px;
       }
       #skills .skill-3{
        text-align: center;

        background-color: teal;
        width: 250px;
        height: 190px;
         border-radius: 10px;
         margin: 0 50px;
     }
       

               #contact{
                background-color: #001f3f;
                height: 100vh;
                width:100%;
               }
               #contact h1{
                color: white;
                font-size: 50px;
                text-align: center;
               }
                #contact h2{
                  color: white;
                  width: 900px;
                  font-size: 30px;
                  margin: 0 auto;

                }
                #contact img{
                    position: relative;
                     margin-left: 250px;
                   margin-right: 150px;
                   align-items: center;
                   justify-content: center;
                    width: 40px;
                    height: 40px;
                 }
                

@media (max-width: 450px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: 0;
      height: 100vh;
      width: 140px;
      background-color: teal;
      padding: 10px;
       
  }
   .navbar{
    z-index: 999;
   }
  .navbar-toggle{
   visibility: visible;
   
  }
   

  .navbar-menu.show {
      display: flex;
  }

  .navbar-menu li {
      padding: 10px;
  }
      .name{
       top: 15%;
       left: 5%;
      }
      
       .navbar-brand{
        font-size: 30px;
        margin: 0  130px;
       }
      .name .newletter button{
        width: 200px;
      }
    #home img{
      margin: 350px 50px;
       height: 200px;
       width: 200px;
    
   }
    #about h2{
      margin: 0 10px;
    }
    #about img{
    
      width: 200px;
      height: 200px;
    }
     #about p{
      width: 300px;
     }
          #services{
             margin: 100px -250px;
          }
           #services h1{
            margin-left: 300px;
           }
     #services .wrapper{
      display: inline-block;
       
     }
   
      #services .box{
        margin: 30px;
      }
      #services .box-2{
        margin: 30px;
      }
      #services .box-3{
        margin: 30px;
      }


       #skills .wrapper-2{
         display: inline-block;
       }
       #skills .skill-1{
        margin: 30px -190px;
      }
      #skills .skill-2{
        margin: 30px -190px;
      }
      #skills .skill-3{
        margin: 30px -190px;
      }

       #contact h2{
        width: 300px;
       }
       #contact{
        margin: 90px -6px;
       }
       #contact img{
        margin: 0 32px;
        
       }

      

}




 @media only screen and (orientation: landscape) {
  
   .name button{
    margin: -50px;
   }
   .img img{
    width: 160px;
    height: 170px;
   }
    #about{
      margin: 50px;
    }
     #about img{
      width: 170px;
      height: 170px;
      margin: 25px 60px;
     }
      #services{
        margin: 170px -60px;
 
      }
       #services .wrapper{
        display: inline-block;
       }
       #services .box{
        margin: 30px;
      }
      #services .box-2{
        margin: 30px;
      }
      #services .box-3{
        margin: 30px;
      }
   #skills{
    margin: 420px -60px;
   }
   #skills .wrapper-2{
    display: inline-block;
  }
  #skills .skill-1{
   margin: 30px 60px;
 }
 #skills .skill-2{
   margin: 30px 60px;
 }
 #skills .skill-3{
   margin: 30px 60px;
 }
  #contact img{
    display: flexbox;
    margin: 0 85px;
  }
        
 }

